<div *ngIf="track" class="detailsMainContainer" >
  <div class="center imgContainer" >
    <img width="500" [src]="track.artwork_url.replace('-large', '-t500x500') || './../assets/no-image.jpg'" [class]="shouldShowImage ? 'fadeIn':'hide'" (click)="onImageClick()">
  </div>

  <div class="flex-1" ></div>
  <div id="player" >
   <iframe *ngIf="trackSrc" width="100%" height="166" scrolling="no" frameborder="no" [src]="trackSrc"></iframe>
  </div>
</div>

