.detailsMainContainer {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  padding: 50px 30px;
}

.imgContainer > img {
  cursor: pointer;
}

#player {
  margin: 0 3px;
}

.fadeIn {
  animation: myfade 1s ease;
}

@keyframes myfade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
}
