<div class="mainContainer" >

  <div class="masterDiv" >

    <div class="searchContainer" >
      <input [(ngModel)]="searchTerm" [placeholder]="mCONSTS.STR_SEARCH_PLACEHOLDER">
      <div class="btn searchBtn center" (click)="performSearch(searchTerm, true, false)" >
        <span>{{mCONSTS.STR_SEARCH_BTN}}</span>
      </div>
    </div>

    <div>
      <div *ngFor="let track of tracks" [class.selected]="track === selectedTrack" [class.move]="track === selectedTrack" (click)="onSelect(track)" class="listItem">
        {{track.title}}
      </div>
    </div>

    <div *ngIf="tracks" style="margin-top: 10px;" >
      <div class="btn nextBtn center" (click)="performSearch(searchTerm, false, false)" >
        <img src="./../../assets/nextBtn.png" width="20" height="20" />
      </div>
    </div>

    <div class="flex-1" ></div>

    <div>
      <div *ngIf="searchHistoryArr" class="searchHistoryTitle" >{{mCONSTS.STR_HISTORY_TITLE}}</div>
      <div *ngFor="let search of searchHistoryArr" (click)="performSearch(search, true, true)" class="listItem">
        {{search}}
      </div>
    </div>

  </div>

  <app-track-details #trackDetails [track]="selectedTrack" class="detailDiv" ></app-track-details>


</div>

