.selected {
  background-color: #232323;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.masterDiv {
  flex: 2;
  display: flex;
  height: 95vh;
  border: 1px solid darkgrey;
  flex-direction: column;
}

.detailDiv {
  flex: 8;
  display: inline-block;
  height: 95vh;
  border: 1px solid darkgrey;
  border-left: none;
}

.searchContainer {
  display: flex;
  padding: 1px 0 5px 1px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.searchContainer > input {
  flex: 9;
  height: 100%;
  padding: 0 5px;
}

.btn {
  height: 35px;
  cursor: pointer;
}

.searchBtn {
  flex: 1;
  padding: 0 10px;
}

.nextBtn {
  float: right;
  padding: 0 10px;
}

.listItem {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid gray;
  font-size: 12px;
}

.searchHistoryTitle {
  text-align: center;
  border-bottom: 2px solid darkgray;
  padding: 5px;
}

.move {
  animation: mymove 2s ease;
  transition: all .5s ease;
}

@keyframes mymove {
  0% {
    position: absolute;
    border: none;
    left: 0;
  }
  60% {
    position: absolute;
    border: none;
    left: 45vw;
    opacity: 1;
  }
  100% {
    position: absolute;
    border: none;
    left: 45vw;
    opacity: 0;
  }
}
